@import "tailwindcss";

@theme {
    --font-sans: 'Outfit', sans-serif;
    --font-display: 'Syne', sans-serif;
    --color-brand-dark: #030303;
    --color-brand-gray: #1a1a1a;
    --color-brand-accent: #E6DFC4;
    --color-brand-gold: #D4AF37;
    /* --image-noise: url('https://grainy-gradients.vercel.app/noise.svg'); */
    --image-noise: none;

    --animate-float: float 8s ease-in-out infinite;
    --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    /* Added height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #030303;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #E6DFC4;
}

.font-display {
    font-family: var(--font-display);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}